/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
	--accent-color: #FF8DCB;
	--background-color: #FFF1F7;
	--color-text: #353430;
	--background-image: url("../images/cover-image-light.png");
	--accent-color-two: #353430;
	--header-color: #FF8DCB;

	.header__theme-menu-list::before {
		background-color: transparent;
		box-shadow: none;
	}

	.header__theme-menu-list::after {
		color: transparent;
	}
}