/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

img {
	object-position: center;
	object-fit: cover;
	height: 100%;
	margin: auto;
	width: 100%;
}

.page {
	background-color: var(--background-color);
	color: var(--color-text);
	font-family: 'IBM Plex mono', sans-serif;
	font-weight: bold;
	font-size: 18px;
	max-width: 1024px;
	min-width: 375px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 20px;
	background-image: var(--background-image);
	/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	min-height: 668px;
}

.header__theme-menu {
	align-self: center;
	justify-self: end;
	padding-top: 20px;
}

.header__theme-menu-list {
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.header__theme-menu-button {
	background-color: transparent;
	color: var(--accent-color-two);
	border: none;
	font-weight: normal;
	text-transform: lowercase;
	padding: 0 13px;
}

.header__theme-menu-button:hover {
	outline: 1px solid var(--color-buttom-hover);
}

.header__theme-menu-button:focus {
	outline: none;
}

.header__theme-menu-button:focus-visible {
	border-bottom: 1px solid var(--accent-color-two);
	margin-bottom: -1px;
}


.header__theme-menu-button_active {
	pointer-events: none;
	outline: 1px solid var(--accent-color-two);
}

.title_no_background {
	color: var(--accent-color-two);
	line-height: 23.4px;
	margin-block-end: 30px;
	font-size: 18px;
}

.title_with_background {
	background-color: var(--accent-color);
	color: var(--color-text-general);
	line-height: 23.4px;
	font-size: 18px;
}

.tittle {
	color: var(--header-color);
	font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	text-shadow: var(--color-shadow) 5px 5px;
	font-weight: bold;
	align-self: center;
	line-height: 82.5%;
}

.header-paragraph {
	margin-top: 5%;
	align-self: start;
	line-height: 23.4px;
}

.main-section {
	margin-block-start: 60px;
}

.main-section-what {
	margin-block-start: 80px;
}

.main-section-why {
	display: flex;
	gap: 15px;
	flex-direction: column;
}

.paragraphs-why {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.article-main{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.title_no_background-second {
	width: 300px;
}

.paragraphs-what {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 15px;
	flex-direction: column;
}

.main-section-how {
	display: flex;
	gap: 15px;
	flex-direction: column;
	margin-block-start: 75px;
}

.main-paragraph {
	gap: 151px;
	font-weight: normal;
}

.article-picture {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 15px;
}

.footer {
	display: grid;
	grid-template-columns: 1fr;
	height: 100vh;
	position: relative;
	min-height: 668px;
	margin-block-start: 60px;
	padding: 20px;
}

.footer .tittle {
	text-align: center;
	align-self: center;
}

.main-section-picture {
	margin-block-start: 75px;
}

.link-text {
	text-shadow: 2px 2px var(--accent-color);
	text-decoration: none;
}

.link-text:hover {
	border-bottom: 1px solid var(--color-text);
}

.link-text:focus {
	border: none;
}

.link-text:focus-visible {
	outline: 1px solid var(--color-text);
}

.title_with_background-normal {
	font-weight: normal;
	margin-block-start: 18px;
}

.decorated-zone::after {
	box-shadow: var(--accent-color-two) 2px -1px;
	height: 25px;
	width: 25px;
	margin-right: 20px;
	position: absolute;
	content: "";
	right: 0;
	margin-top: 20px;
}

.decorated-zone::before {
	box-shadow: var(--accent-color-two) -2px 1px;
	height: 25px;
	width: 25px;
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	margin-left: 22px;
	margin-bottom: 22px;
}

.rec::before {
	position: absolute;
	content: "";
	width: 13px;
	height: 13px;
	box-shadow: 0 0 4px 2px var(--accent-color);
	background-color: var(--accent-color);
	border-radius: 50%;
	right: 0;
	margin-top: 6px;
}

.rec{
	font-size: 18px;
	font-weight: normal;
	color: var(--accent-color);
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 20px;
	margin-right: 27px;
	padding-right: 20px;
}

@media (min-width: 376px) {
	.main-section-why {
		flex-direction: row;
	}

	.paragraphs-why {
		max-width: 66%;
	}

	.main-section-what {
		flex-direction: row;
	}

	.tittle {
		font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	}

	.main-section-how {
		flex-direction: row;
	}

	.header-paragraph {
		margin-left: 50%;
	}

	.title_no_background {
		width: 33%;
	}

	.paragraphs-how {
		max-width: 66%;
	}
}

@media (min-width: 769px) {

	.paragraphs-what {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.tittle {
		font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	}

	.article-picture {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.img-sunset {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.img-ice-cream {
		grid-column-start: 3;
		grid-row-start: 1;
		grid-row-end: 3;
	}

	.img-tape {
		grid-row-start: 2;
		grid-row-end: 4;
	}

	.img-street {
		grid-row-start: 3;
		grid-column-start: 2;
		grid-column-end: 4;
	}

}

@media (min-width: 1024px) {
	.header__theme-menu {
		align-self: start;
		justify-self: center;
	}

	.title_no_background {
		width: auto;
	}

	.header__theme-menu-list {
		flex-direction: row;
	}
}
