/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
	--color-text-general: #000028;
	--color-shadow: #FF0070;

	@media (prefers-color-scheme: dark) {
		--accent-color: #ff0070;
		--background-color: #000028;
		--color-text: #F1B2CE;
		--accent-color-two: #ff0070;
		--header-color: #DB00FF;
		--background-image: url("../images/cover-image-dark.png");
	}

	@media (prefers-color-scheme: light) {
		--accent-color: #FF8DCB;
		--background-color: #FFF1F7;
		--color-text: #353430;
		--background-image: url("../images/cover-image-light.png");
		--accent-color-two: #353430;
		--header-color: #FF8DCB;

		.header__theme-menu-list::before {
			background-color: transparent;
			box-shadow: none;
		}

		.header__theme-menu-list::after {
			color: transparent;
		}
	}
}